.productivity {
  background-color: var(--dark-blue-main);
  width: 85%;
  margin: -120px auto 0px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  justify-content: center;
  gap: 50px;

  .description {
    display: flex;
    flex-direction: column;
    gap: 25px;

    &__title {
      width: 70%;
      font-size: 40px;
      line-height: 50px;
    }

    &__p {
      font-size: 16px;
    }

    &__link {
      color: var(--cyan);
      display: flex;
      align-items: center;
      border-bottom: 1px solid var(--cyan);
      width: fit-content;
      padding-bottom: 2px;

      &:hover {
        filter: grayscale(1) contrast(2);
      }
    }

    &__arrow {
      margin-top: 1px;
      margin-left: 5px;
    }
  }
}
