.testimonials {
  background-color: var(--dark-blue-main);
  margin: 40px auto;
  position: relative;

  &__quote {
    background-color: transparent;
    position: absolute;
    top: -30px;
    left: 130px;
  }

  .cards__container {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;

    .cards {
      background-color: var(--dark-blue-testi) !important;
      padding: 35px 25px 25px 25px;
      width: fit-content;
      max-width: 360px;
      border-radius: 5px;

      &__profile {
        display: flex;
        flex-direction: row;
        align-items: center;
        background: transparent;
        gap: 10px;

        .cards__img {
          height: 30px;
          width: 30px;
          border-radius: 50%;
          background: transparent;
        }

        .cards__person {
          background-color: transparent;

          .cards__name {
            background-color: transparent;
            font-size: 12px;
          }

          .cards__role {
            background-color: transparent;
            font-size: 10px;
          }
        }
      }

      .cards__text {
        background: transparent;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 25px;
      }
    }
  }
}
