@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Raleway:wght@300;400;600;700&display=swap");

:root {
  /* general */
  --dark-blue-intro: hsl(217, 28%, 15%);
  --dark-blue-main: hsl(218, 28%, 13%);
  --dark-blue-footer: hsl(216, 53%, 9%);
  --dark-blue-testi: hsl(235, 45%, 61%);
  --pale-blue: hsl(219, 30%, 18%);
  /* accent */
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  --red-error: hsl(0, 100%, 63%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
  background-color: var(--dark-blue-intro);

  h1,
  h2,
  h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
  }

  a {
    text-decoration: none;
  }
}

html {
  max-width: 1440px;
  min-height: 100%;
}
